:root {
    --letterfont: ;
    --blanco: #fff;
    --negroAzulado: #051a2c;
}

html {
    /* se reinicia el tamaño de la letra a 62.5% */
    font-size: 62.5%;
    /* 1rem = 10px */
    box-sizing: border-box;
    /* hack para box model */
}

/* apply a natural box layout model to all elements, but allowing components to change */
*,
*:before,
*:after {
    box-sizing: inherit;
    /* hack para box model */
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.fondo {
    background: linear-gradient(rgba(6, 26, 76, 0.35), rgba(5,7,12,0.35)),
                url("../img/fondo\ op\ 1.png") 
                no-repeat center center fixed;
    background-size: cover;    
}

/*barra navegacion*/
header {
    width: 100%;
    height: 6rem;
}

img {
    height: 95%;
    padding: 0.6rem 0 0 2rem;
}

/*contenedores*/
.container_index {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.container_juego {
    max-width: 80%;
    height: 80%;
    margin: 2rem auto;
    column-gap: 3rem; 
}

/* Botones */

.boton {
    color: var(--negroAzulado);
    font-weight: 400;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding: 1.6rem 3.6rem;
    border: 0.2rem solid var(--negroAzulado);
    border-radius: 2.9rem;
    transform: translate(0);
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.botones {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}

.boton_iniciar {
    background: var(--blanco);
}

.boton_agregar {
    background: var(--blanco);
}

/* Secciones Juego*/
/*.seccion {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    min-height: 95%;
    justify-content: center;
}*/

.seccion_dibujo {
    min-height: 80%;
    background-color: #f7f7f7;
    display: grid;
    grid-template-rows: 90% 10%;
}

/* Formulario Palabra */
.forms {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.texto {
   border: 0.1rem solid var(--negroAzulado);
   border-radius: 2rem;
   color: #034510;
   font-size: 24px;
   padding: 1.2rem;
}

.btn_palabra {
    display: flex;
    gap: 3rem;
}

.palabra {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
}

.seccion_letra {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 2rem auto 0;
}